@import "../fonts.css";

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 90vw;
  margin: 10px;
  padding: 5px;
  padding-left: 20px;
  background-color: #40404d;
  border-radius: 20px;
  box-shadow: 0px 8px 20px #00000044;

  /* border: 5px solid red; */
}

.project-icon {
  width: 4rem;
}

/* ###################################### PHONE ####################################### */

@media (max-width: 800px) {
  .project-card {
    flex-direction: column;
    padding-left: 5px;
    padding-top: 20px;
  }
}
