@import "../fonts.css";

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #44444d;
  margin: 20px;
  padding: 10px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px #00000044;

  /* border: 5px solid red; */
}

.project-icon {
  height: 80px !important;
  width: 80px !important;
  margin: 15px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translate(0px, -50px);
  height: 80px;
  padding: 10px;
}

.project-description {
  transform: translate(-5px, -20px);
}
